<ng-template #modal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d()">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
              <div class="form-group">
                  <app-start></app-start>
              </div>
              <div class="form-group">
                  <app-end></app-end>
              </div>
              <div class="form-group">
                  <app-search></app-search>
              </div>
              <br>
              <div class="form-group">
                  <button class="btn btn-primary" type="submit" (click)="formSubmit()" (click)="c()">Submit</button>
              </div>
      </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary button" (click)="open(modal)">Launch demo modal</button>

<div class="row">
    <div class="col-sm-3">
        <div class="card" *ngIf="displayFormData">
            <p><b>Start Date:</b> {{startDate}}</p>
            <p><b>End Date:</b> {{endDate}}</p>
            <p><b>City: </b>{{city}}</p>
        </div>
    </div>
</div>
